@media (max-width:500px){
    .post-layout{
        flex-direction: column;
    }
    .left-sidebar {
        background-color: white;
        position: absolute;
        height: auto !important;
        width: 100% !important;
        padding: 0;
    }
}